.Store-container {
    width: calc(100% - 320px);
    padding: 44px;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
}

.Store-pet-gachapon,
.Store-bg-gachapon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Store-pet-gachapon > .OpenModalButton-container,
.Store-bg-gachapon > .OpenModalButton-container {
    width: 100%;
    padding: 30px;
}

button.Gachapon {
    background-image: url("https://keenlychung.com/dailymood/gachaponbanner.jpg");
    background-color: #fff;
    background-size: contain;
    background-position: 300px;
    background-repeat: no-repeat;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid #9AB28C;
    object-fit: contain;
    height: 200px;
    width: 100%;
    text-align: left;
    padding: 28px;
}

div.Gachapon {
    font-family: "KeenlysFont";
    font-size: 2.5rem;
}

.Gachapon-text {
    margin-top: 12px;
    font-size: 16px;
    max-width: 400px;
}

/* .Gachapon > img {
    height: 150px;
} */

.Pet-gachapon-prizes {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 18px;
    justify-items: center;
    align-items: center;
}

.Pet-gachapon-card {
    width: 200px;
    height: 275px;
    border-radius: 18px;
    background-color: white;
    padding: 4px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border: 1px solid #9AB28C;
}

.Pet-gachapon-description {
    display: flex;
    flex-direction: column;
}

.Pet-gachapon-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c9e2bb;
    clip-path: circle(120px at 78% 10%);
    transition: 0.5s ease-in-out;
}

.Pet-gachapon-card:hover:before {
    clip-path: circle(280px at 70% -28%);
}

.Pet-gachapon-card:after {
    content: 'moo';
    position: absolute;
    top: 67%;
    left: 5%;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    color: #F5FBF2;
}


.Pet-gachapon-card .Pet-gachapon-card-image,
.Pet-gachapon-card .Bg-gachapon-card-image {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 1;
    width: calc(100% - 8px);
    height: 220px;
    transition: 0.5s;
}

.Pet-gachapon-card:hover .Pet-gachapon-card-image {
    top: 0%;
    transform: translateY(0%);
}

.Pet-gachapon-card:hover .Bg-gachapon-card-image {
    top: 10%;
    transform: translateY(0%);
}

.Pet-gachapon-card .Pet-gachapon-card-image img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Pet-gachapon-card .Bg-gachapon-card-image img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.notOwned {
    filter: grayscale(1);
}

.Pet-gachapon-card:hover .Pet-gachapon-card-image {
    top: 0%;
    transform: translateY(0%);
}

.Pet-gachapon-card:hover .Pet-gachapon-card-image .notOwned {
    filter: grayscale(0);
}

.Pet-gachapon-card:hover .Bg-gachapon-card-image {
    top: 10%;
    transform: translateY(0%);
}

.Pet-gachapon-card:hover .Bg-gachapon-card-image .notOwned {
    filter: grayscale(0);
}

.Pet-gachapon-card .Pet-gachapon-description {
    position: absolute;
    bottom: 0;
    width: calc(100% - 8px);
    height: 50px;
    text-align: center;
    transition: 1s;
    z-index: 1;
}

.Pet-gachapon-card:hover .Pet-gachapon-description {
    height: calc(50% - 18px);
}

.Pet-gachapon-card .Pet-gachapon-description .Pet-gachapon-flavor {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1B3012;
    margin: 0;
}

.Pet-gachapon-want {
    font-size: 13px;
}

.Pet-gachapon-card .Pet-gachapon-description .Pet-gachapon-want,
.Pet-gachapon-card .Pet-gachapon-description .Pet-gachapon-play,
.Pet-gachapon-card .Pet-gachapon-description .Pet-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.Pet-gachapon-card:hover .Pet-gachapon-description .Pet-gachapon-want {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.Pet-gachapon-play {
    margin: auto;
    width: 60%;
    height: 32px;
    border-radius: 18px;
    border: 0;
    margin-top: 8px;
    background-color: #c9e2bb;
}

.Pet-gachapon-card:hover .Pet-gachapon-description .Pet-gachapon-play,
.Pet-gachapon-card:hover .Pet-gachapon-description .Pet-stats {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.65s;
}

.Bg-gachapon-bg {
    border-radius: 50%;
    width: 70%;
}

.notEnough {
    font-size: 11px;
}

p.PetGachapon-text {
    font-size: 14px;
}

.PetGachapon-instructions-container {
    height: 14px;
}

.PetGachapon-instructions {
    font-size: 14px;
    font-weight: 600;
}

.setActive {
    font-size: 14px;
}

.Pet-stats {
    margin-bottom: 8px;
    height: 22px;
}

/* .Pet-gachapon-description.cowlectionPage {
    display: flex;
    gap: 0;
} */

.Gachapon-header-container {
    width: 100%;
}

.Gachapon-header:before {
    text-align: center;
    content: attr(data-content);
    position: absolute;
    -webkit-text-stroke: 5px #1b3012;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 0;
}

.Gachapon-header {
    text-align: center;
    flex-grow: 1;
    font-family: "KeenlysFont", Bungee, sans-serif;
    font-size: 5rem;
    color: #c9e2bb;
    text-shadow: 5px 5px 0px #1b3012;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 18px 0;
}
