.UserTasks-container {
    padding: 18px 26px;
    width: calc(100% - 320px);
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

/* CSS FOR HABITS */
.UserTasks-category-container {
    width: 100%;
    padding: 18px;
    background: lightgreen;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.UserTasks-cat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.UserTasks-header {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.UserTasks-icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
    gap: 8px;
    /* justify-content: center; */
    align-items: center;
}

.UserTasks-icon-container {
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.UserTasks-icon-div,
.UserTasks-create-task-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    object-fit: contain;
    /* margin-right: auto; */
}

.UserTasks-create-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgreen;
}

.fa-plus {
    -webkit-text-stroke: 2px;
    color: lightgreen
}

.UserTasks-incomplete {
    filter: grayscale(1)
}

.UserTasks-incomplete:hover,
.UserTasks-create-task-button:hover {
    filter: grayscale(0)
}

.UserTasks-taskName {
    font-size: 12px;
    text-align: center;
}

.UserTasks-actions-container {
    display: flex;
    gap: 16px;
}

.UserTasks-header-text {
    background-color: lightgreen;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 13ch;
}

.UserTasks-category-name {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.no-hover {
    cursor:default;
}

.edit-input {
    border: 1px solid white;
    background-color: white;
}

.edit-input:hover {
    filter: brightness(1);
}

.UserTasks-category-save {
    border-radius: 8px;
    border: 0;
    background-color: white;
}

.Task-edit {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Task-edit > img {
    height: 30px;
}

.UserTasks-save {
    padding: 3px 8px;
    border-radius: 8px;
    border: 0;
    background-color: white;
}

.UserTasks-create-new {
    padding-bottom: 8px;
}

.EditCategory-error-text {
    color: red;
    font-size: 13px;
}
