.UserTasks-container {
    padding: 18px 44px;
    width: calc(100% - 320px);
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 18px;

}

.UserTasks-container::after {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0) url("https://keenlychung.com/dailymood/cowbg.png") repeat-y right center;
    opacity: 0.3;
    z-index: -1;
}

/* CSS FOR HABITS */
.UserTasks-category-container {
    width: 100%;
    padding: 18px;
    background: #c9e2bb;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.UserTasks-cat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
}

.UserTasks-header {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.UserTasks-icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
    gap: 8px;
    /* justify-content: center; */
    align-items: center;
}

.UserTasks-icon-container {
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.UserTasks-icon-div,
.UserTasks-create-task-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    object-fit: contain;
    /* margin-right: auto; */
}

.UserTasks-create-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c9e2bb;
}

.fa-plus {
    -webkit-text-stroke: 2px;
    color: #c9e2bb
}

.UserTasks-incomplete {
    filter: grayscale(1)
}

.UserTasks-incomplete:hover,
.UserTasks-create-task-button:hover {
    filter: grayscale(0)
}

.UserTasks-taskName {
    font-size: 12px;
    text-align: center;
}

.UserTasks-actions-container {
    display: flex;
    gap: 16px;
}

.UserTasks-header-text {
    background-color: #c9e2bb;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 13ch;
}

.UserTasks-category-name {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.no-hover {
    cursor:default;
}

.edit-input {
    border: 1px solid white;
    background-color: white;
}

.edit-input:hover {
    filter: brightness(1);
}

.UserTasks-category-save {
    border-radius: 8px;
    border: 0;
    background-color: white;
}

.Task-edit {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Task-edit > img {
    height: 30px;
}

.UserTasks-save {
    padding: 3px 8px;
    border-radius: 8px;
    border: 0;
    background-color: white;
}

.UserTasks-create-new {
    padding-bottom: 8px;
}

.EditCategory-error-text {
    color: red;
    font-size: 13px;
}

@media (min-width: 1288px) {
    .UserTasks-category-container,
    .UserTasks-cat-container {
        max-width: 880px;
    }

    .UserTasks-container::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0) url("https://keenlychung.com/dailymood/cowbg.png") repeat-y right center;
        opacity: 0.3;
        z-index: -1;
    }
}
