.UserTasks-container {
    padding: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* CSS FOR HABITS */
.UserTasks-category-container {
    width: 100%;
    padding: 18px;
    background: lightgreen;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.UserTasks-header {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.UserTasks-icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
    gap: 8px;
    /* justify-content: center; */
    align-items: center;
}

.UserTasks-icon-container {
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.UserTasks-icon-div,
.UserTasks-create-task-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    object-fit: contain;
    /* margin-right: auto; */
}

.UserTasks-create-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgreen;
}

.fa-plus {
    -webkit-text-stroke: 2px;
    color: lightgreen
}

.UserTasks-incomplete {
    filter: grayscale(1)
}

.UserTasks-incomplete:hover,
.UserTasks-create-task-button:hover {
    filter: grayscale(0)
}

.UserTasks-taskName {
    font-size: 12px;
    text-align: center;
}

.UserTasks-actions-container {
    display: flex;
    gap: 16px;
}
