.Monthly-container {
    padding: 44px;
    width: calc(100% - 320px);
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #F2F2F2;
    background-color: #fffefe;
    -webkit-box-shadow: 7px -4px 13px -12px rgba(214,214,214,0.66);
    -moz-box-shadow: 7px -4px 13px -12px rgba(214,214,214,0.66);
    box-shadow: 7px -4px 13px -12px rgba(214,214,214,0.66);
}

.Monthly-calendar-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.Monthly-calendar-month-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 18px;
    align-items: center;
}

/* .Monthly-calendar-month {
    width: 150px;
    text-align: center;
} */

.Monthly-calendar-month {
    text-align: center;
    font-family: "KeenlysFont", Bungee, sans-serif;
    font-size: 5rem;
    color: #c9e2bb;
    text-shadow: 5px 5px 0px #1b3012;
    position: relative;
    width: 320px;
    z-index: 1;
}

.Monthly-calendar-month:before {
    content: attr(data-content);
    font-size: 5rem;
    position: absolute;
    -webkit-text-stroke: 5px #1b3012;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.Monthly-calendar-main-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto minmax(50px, 1fr) 1fr 1fr 1fr 1fr;
}

.Monthly-calendar-day-name {
    text-align: center;
    font-weight: 500;
    padding-bottom: 1rem;
}

.Monthly-calendar-main-container > .day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5.6rem;
    gap: 0.38rem;
}

.day > .Mood-container {
    background-color: #d3d3d3;
    border-radius: 50%;
    aspect-ratio: 1;
    max-height: 56px;
    max-width: 56px;
    height: 100%;
    width: 100%;
    border: 0;
}

.Mood-container.pastDate {
    background-color: #F2F2F2;
    background-image: url("https://keenlychung.com/dailymood/no_mood.png");
    background-size: 90px;
    background-position: center;
}

.Mood-container.futureDate {
    cursor: default;
}

.Mood-image {
    max-height: 3.7rem;
    height: auto;
    width: auto;
}

.Mood-image:hover {
    /* transform: rotate(4deg); */
    animation: wiggle infinite 0.4s;
}

@keyframes wiggle {
    50% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(-4deg);
    }
}


.Date-container {
    font-size: 10px;
}

.todaysDate {
    background-color: #5aa13e;
    border-radius: 18px;
    padding: 0px 8px 1px;
    color: #f5fbf2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mood-container.empty {
    display: none;
}

.Monthly-button-change {
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    height: max-content;
    width: 24px;
}

.fa-angle-left,
.fa-angle-right {
    color: #5aa13e;
}

.Monthly-calendar-filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    gap: 18px;
    width: 100%;
    margin-top: 44px;
}

.Monthly-calendar-filter-header {
    font-weight: 600;
}

.Monthly-calendar-filter-moods {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.Monthly-calendar-filter-reset {
    background-color: #c9e2bb;
    min-width: 6rem;
    padding: 8px 16px;
    border-radius: 28px;
    border: solid 1px #9AB28C;
    font-weight: 600;
}

@media (min-width: 1288px) {
    .Monthly-container {
        max-width: 880px;
    }

    .Monthly-container::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0) url("https://keenlychung.com/dailymood/cowbg.png") repeat-y right center;
        opacity: 0.3;
        z-index: -1;
    }
}
