#modal {
    position: fixed;
    margin-top: 80px;
    height: calc(100vh - 80px);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    border-radius: 15px;
    position: absolute;
    background-color:white;
    overflow-y: auto;
    max-height: 90%;
    height: max-content;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
}
