.SideBar-container {
    width: 320px;
    background-color: #c9e2bb;
    overflow-y: auto;
    flex-shrink: 0;
    /* padding: 18px; */
}

.SideBar-pet-container {
    padding: 28px;
}

.SideBar-pet-image-container {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1;
}

.SideBar-pet-stats-container {
    padding-top: 16px;
}

.SideBar-pet-background {
    position: relative;
}

.SideBar-pet {
    position: absolute;
    top: 25px;
    left: 0;
}

.SideBar-logo-container,
.SideBar-moolah-container {
    padding: 16px 28px;
}

.SideBar-user-container {
    padding: 16px 28px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.SideBar-username {
    font-weight: 600;
}

.SideBar-moolah {
    background-color: #f5fbf2;
    border-radius: 18px;
    padding: 6px 12px;
    font-size: 13px;
}

.SideBar-moolah-value {
    font-weight: 500;
}

.SideBar-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SideBar-links-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 16px 16px;

}

.SideBar-link {
    padding: 12px 12px 12px 16px;
    text-decoration: none;
}

.SideBar-link:hover {
    background-color: #E1F8D4;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.SideBar-link.active {
    background-color: white;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.SideBar-pet-stats-hp-bar-container {
    width: 100%;
    height: 16px;
    border-radius: 8px;
    background-color: lightgray;
    margin-bottom: 18px;
}

.SideBar-pet-stats-hp-bar-filled {
    border-radius: 8px;
    height: 16px;
    background-color: #FF7276;
}

.SideBar-pet-stats-hp-text {
    font-size: 12px;
    text-align: right;
}

.SideBar-logout-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.SideBar-logout {
    padding: 8px 18px;
    border-radius: 18px;
    border: none;
    background-color: #F5FBF2;
}

.SideBar-pet-stats-hp {
    padding-bottom: 12px;
}

.SideBar-pet-stats-name {
    padding-bottom: 12px;
    text-align: center;
    font-weight: 600;
}

.skeleton {
    animation: skeleton-loading 1d linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: #e7e6e6;
    }

    100% {
        background-color: #d3d3d3;
    }
}

.skeleton-container {
    height: 100%;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skeleton-logo {
    background-color: #89a866;
    margin: 16px 28px;
    border-radius: 28px;
    height: 50px;
    width: 150px;
    align-self: center;
}

.skeleton-button {
    background-color: #89a866;
    width: 90px;
    height: 36px;
    border-radius: 28px;
    align-self: center;
}

.skeleton-text {
    height: 1rem;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 16px;
    background-color: #89a866;
}

.skeleton-pet {
    background-color: #89a866;
    width: 264px;
    height: 264px;
    border-radius: 50%;
    padding: 16px 28px;
    margin-bottom: 16px;
}

.skeleton-link {
    background-color: #89a866;
    width: 180px;
    height: 44px;
    border-radius: 28px;
    margin-bottom: 16px;
}

.skeleton-header {
    height: 60px;
    width: 240px;
    border-radius: 28px;
    background-color: #89a866;
    margin-bottom: 18px;
}

.skeleton-header-2 {
    height: 40px;
    width: 240px;
    border-radius: 28px;
    background-color: #89a866;
    margin-bottom: 18px;
}

.UserTasks-container.skeleton {
    padding: 44px;
    width: calc(100% - 320px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skeleton-body {
    height: 180px;
    margin-bottom: 44px;
}
