.Daily-container {
    margin-top: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

/* FOR DAILY MOOD */

.Daily-mood-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: min(100% - 36px, 600px);
    /* height: 80px; */
    background: lightgreen;
    border-radius: 18px;
    box-sizing: border-box;
    padding: 18px;
}

.Daily-moods-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dailies-mood-image {
    width: 48px;
    height: 48px;
}

.Dailies-mood-image {
    filter: brightness(0.5)
}

.Dailies-mood-image:hover {
    filter: brightness(1)
}

.active-mood {
    filter: brightness(1)
}


/* FOR DAILY IMAGE */

.Daily-image-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: min(100% - 36px, 600px);
    height: 320px;
    background: lightgreen;
    border-radius: 18px;
    box-sizing: border-box;
    padding: 18px;
}

.Daily-image-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 36px);
    box-sizing: border-box;
}

.fa-image {
    font-size: 200px;
}

.Daily-image-input-container > input[type="file"] {
    display: none;
}

.Daily-image-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 8px;
}

.Daily-image-upload-icon {
    height: calc(100% - 36px);
}

/* FOR DAILY JOURNAL */

.Daily-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
