.Cowlection-container {
    width: calc(100% - 320px);
    padding: 44px;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
}

.Cowlection-header {
    width: 100%;
}

.Cowlection-header-text:before {
    text-align: center;
    content: "Your udderly adorable herd";
    position: absolute;
    -webkit-text-stroke: 4.3px #1b3012;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

.Cowlection-header-text,
.Cowlection-header-text-background {
    text-align: center;
    flex-grow: 1;
    margin-left: -27px;
    font-family: "KeenlysFont", Bungee, sans-serif;
    font-size: 4.3rem;
    color: #c9e2bb;
    text-shadow: 4.3px 4.3px 0px #1b3012;
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 18px;
}

.Cowlection-header-background {
    width: 100%;
}

.Cowlection-header-text-background:before {
    text-align: center;
    content: "Your bovine backdrops";
    position: absolute;
    -webkit-text-stroke: 4.3px #1b3012;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

.Cowlection-cows {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.disabled {
    background-color: #A4AE9E;
    cursor: not-allowed;
}

.Pet-gachapon-play.disabled {
    background-color: #A4AE9E;
    cursor: not-allowed;
}

/* Page tabs */
input[type=radio] {
    display: none;
}

.Cowlection-tabs {
    margin: auto;
    margin-bottom: 18px;
    display: flex;
    position: relative;
    width: max-content;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 12px;
    border-radius: 88px;
    transform: scale(0.8);
    transition: 0.2s ease-in;
}

.Cowlection-tabs * {
    z-index: 2;
}

.Cowlection-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 120px;
    font-size: 16px;
    border-radius: 88px;
    transition: color 0.2s ease-in;
}

input[type=radio]:checked + label {
    color: black;
}

input[id=cows]:checked ~ .slider {
    transform: translateX(0);
}

input[id=backgrounds]:checked ~ .slider {
    transform: translateX(100%);
}

input[id=petcare]:checked ~ .slider {
    transform: translateX(200%);
}

.slider {
    position: absolute;
    z-index: 1;
    display: flex;
    height: 28px;
    width: 120px;
    background-color: #c9e2bb;
    border-radius: 88px;
    transition: 0.2s ease-out;
}

@media (min-width: 768px) {
    .Cowlection-tabs {
        transform: scale(1);
        transition: 0.2s ease-out;
    }
}


.stats-hp {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.stats-hp-header {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
}

/* friendliness bar */
.stats-friendliness {
    position: relative;
    display: flex;
    align-items: center;
}

.grey-heart {
    position: relative;
    background-color: lightgrey;
    mask-size: contain;
    -webkit-mask-size: contain;
    width: 100%;
}

.grey-heart::before {
    position: absolute;
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
    animation: fill 290ms cubic-bezier(0.79, 0.01, 0.38, 0.99) 500ms forwards;
}

.hearts {
    --width-rating: 0.5;
}

.heart {
    height: 12px;
    mask-image: url("https://keenlychung.com/dailymood/heart.png");
    -webkit-mask-image: url("https://keenlychung.com/dailymood/heart.png");
    width: 100%;
}

.heart::before {
    background-color: red;
}

.SideBar-pet-stats-heart-bar-container {
    width: 100%;
    height: 16px;
    border-radius: 8px;
    background-color: lightgray;
    margin-bottom: 18px;
    position: relative;
    overflow: hidden;
    -webkit-clip-path: url("https://keenlychung.com/dailymood/heart.png");
    clip-path: url("https://keenlychung.com/dailymood/heart.png");
}

.SideBar-pet-stats-heart-bar-filled {
    border-radius: 8px;
    height: 16px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: url("https://keenlychung.com/dailymood/heart.png");
    clip-path: url("https://keenlychung.com/dailymood/heart.png");
}

.mask {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    -webkit-mask-image: url("https://keenlychung.com/dailymood/heart.png");
    mask-image: url("https://keenlychung.com/dailymood/heart.png");
}

.SideBar-pet-stats-heart-text {
    font-size: 12px;
    text-align: right;
}

#heartClip {
    clip-path: url("https://keenlychung.com/dailymood/heart.png")
}

.Pet-edit.fa-pen {
    font-size: 14px;
    padding-left: 8px;
    padding-top: 2px;
    display: none;
}

.PetName-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.Pet-gachapon-card:hover .Pet-edit {
    display: block;
}

.Pet-edit-form {
    width: 100%;
    height: 29px;
    display: flex;
    gap: 8px;
    padding: 0 8px;
    /* margin-bottom: 8px; */
}

.Pet-edit-input {
    width: calc(100% - 49px);
    font-size: 24px;
    background: none;
    border-radius: 8px;
    border: 1px solid white;
    background-color: white;
    border: 1px solid #9AB28C;
}

.SideBar-pet-stats-hp-bar-container.cowlectionPage,
.SideBar-pet-stats-hp-bar-filled.cowlectionPage {
    height: 12px;
}

.Pet-edit-error-text {
    height: 13px;
    color: red;
    font-size: 12px;
    padding-bottom: 8px;
    letter-spacing: 0;
}

.Pet-gachapon-description.cowlectionPage {
    display: flex;
}

.Pet-gachapon-flavor.PetName-header {
    padding-bottom: 10px;
}



/* .Cowlection-hover-set-active {
    position: relative;
    width: 100%;
} */

/* .Cowlection-set-active {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0;
} */

/* .Cowlection-hover-set-active:hover .Pet-gachapon-play.setActive.cowlectionPage {
    display: flex;
    justify-content: center;
    top: 30%;
    left: 0;
    opacity: 1;
    z-index: 2;
} */

/* .Pet-gachapon-card:hover .Pet-gachapon-description .Pet-gachapon-play.cowlectionPage {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.65s;
} */

.Pet-set-active {
    top: 137px;
    left: 66px;
    position: absolute;
    border-radius: 8px;
    padding: 3px 6px;
    background-color: white;
    border: 1px solid #9AB28C;
    z-index: 8;
    opacity: 0;
    transition: 0.5s ease-in;
    transform: translateY(0%);
    font-size: 11px;
}

.Pet-gachapon-card:hover .Pet-set-active {
    opacity: 1;
}

.Pet-set-active:hover {
    background-color: #f5fbf2;
}
