/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Golos+Text:wght@400;500;600;700;800&family=Roboto:wght@400;700&family=Ubuntu:wght@700&display=swap');

@font-face {
    font-family: "KeenlysFont";
    src: url("./assets/KeenlysHandwriting-Regular.ttf")
        format("truetype");
}

* {
    color: #1B3012;
}

.App-container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clickable, button {
    cursor: pointer;
}

.Page-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.Splash-container {
    width: 100%;
    height: 100vh;
}

.Page-whitespace-filler {
    display: none;
    width: calc(100% - 1120px);
    background-image: url(https://keenlychung.com/dailymood/cowbg.png);
}

@media (min-width: 1200px) {
    .Page-whitespace-filler {
        display:block
    }
}
