.PetCare-container {
    padding-bottom: 18px;
}
.PetCare-description {
    font-size: 14px;
    font-weight: 400;
}

img.Toy-image {
    width: 60%;
}

.PetCare-text {
    font-size: 16px;
    padding-bottom: 18px;
    text-align: center;
}

.PetCare-header {
    padding-bottom: 18px;
}

.Pet-gachapon-prizes {
    padding-bottom: 18px;
}
